// Variables

// Color pointers
@nav-bg: @river-bend;
@nav-font: @river-bend;
@main-font-color: @shuttle-gray;


@footer-background: @river-bend;


// // Color Vars

@river-bend: #454A59;

@shuttle-gray: #5E6164;

// Tablet Var

@tablet: ( max-width: 800px );

// Mobile var

@phone: ( max-width: 500px );
